<% if flash[:bookmarks] != nil %>
  <div data-alert class="flash[:bookmark] alert-box radius">
    <%= flash[:bookmarks] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<h1>Bookmarks:</h1>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li class="bookmark" id="bookmark-<%= bookmark.id %>">
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
      <form action='/bookmarks/<%= bookmark.id %>/update' method='get'>
        <input type="submit" value="Update"/>
      </form>
      <form action='/bookmarks/<%= bookmark.id %>' method='post'>
      	<input type="hidden" name="_method" value='DELETE'>
      	<input type="submit" value="Delete"/>
      </form>
    </li>
  <% end %>
</ul>

<form action="/bookmarks/new">
  <input type="submit" value="Add Bookmarks">
</form>
